:root {
    /* font-size */
    --fs-xl: 12px;
    --fs-2xl: 14px;
    --fs-3xl: 16px;
    --fs-4xl: 18px;
    --fs-5xl: 20px;
    --fs-subheading: 22px;
    --fs-6xl: 24px;
    --fs-7xl: 28px;
    --fs-8xl: 30px;
    --fs-9xl: 32px;
    --fs-10xl: 40px;
    --fs-11xl: 50px;
    --fs-12xl: 62.12px;
}


@media (max-width:991.9px) {
    :root {
        /* font-size */
        --fs-3xl: 14px;
        --fs-4xl: 16px;
        --fs-5xl: 18px;
        --fs-6xl: 20px;
        --fs-7xl: 24px;
        --fs-8xl: 26px;
        --fs-9xl: 28px;
        --fs-10xl: 36px;
        --fs-11xl: 42px;
        --fs-12xl: 55px;
        --fs-subheading: 20px;
    }

}

@media (max-width:567.9px) {
    :root {
        /* font-size */
        --fs-11xl: 32px;
        --fs-3xl: 14px;
        --fs-4xl: 16px;
        --fs-5xl: 14px;
        --fs-6xl: 20px;
        --fs-7xl: 24px;
        --fs-8xl: 26px;
        --fs-9xl: 28px;
        --fs-10xl: 28px;
        --fs-12xl: 47px;
        --fs-subheading: 18px;
    }

}